n8n_workflows/SOCIAL_G_BLOG.json
{
  "name": "SOCIAL_G_BLOG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-G",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "n1",
      "name": "Webhook Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 300],
      "webhookId": "workflow-G"
    },
    {
      "parameters": {
        "jsCode": "const topic = $json.body?.topic || $json.topic || '';\nreturn [{ json: { topic } }];"
      },
      "id": "n2",
      "name": "Extract Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/brand?select=*&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n3",
      "name": "Read BRAND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/prodotti?select=*&prodotto_attivo=eq.SI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n4",
      "name": "Read PRODOTTI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const brand = ($('Read BRAND').first().json[0]) || {};\nconst products = $('Read PRODOTTI').first().json || [];\nconst topic = $('Extract Topic').first().json.topic || '';\nreturn [{ json: { brand, products, topic } }];"
      },
      "id": "n5",
      "name": "Prep Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Sei content writer SEO senior brand fashion. Scrivi articolo blog 800-1200 parole.\\n\\nBRAND:\\n\" + JSON.stringify($json.brand) + \"\\n\\nTOPIC:\\n\" + JSON.stringify($json.topic) + \"\\n\\nPRODOTTI:\\n\" + JSON.stringify($json.products) + \"\\n\\nSEO: H1 50-60ch + meta desc 140-160ch + 3-5 H2 + 800-1200 parole + densità keyword 1-2%.\\nGEO: liste numerate, FAQ section, dati specifici, tono autoritativo.\\n\\nOutput SOLO JSON: {\\\"slug\\\":\\\"\\\",\\\"meta_title\\\":\\\"\\\",\\\"meta_description\\\":\\\"\\\",\\\"h1\\\":\\\"\\\",\\\"intro\\\":\\\"\\\",\\\"sezioni\\\":[{\\\"h2\\\":\\\"\\\",\\\"paragrafi\\\":[],\\\"lista_punti\\\":[]}],\\\"faq\\\":[{\\\"domanda\\\":\\\"\\\",\\\"risposta\\\":\\\"\\\"}],\\\"cta_finale\\\":\\\"\\\",\\\"keywords_target\\\":[],\\\"prodotti_linkati\\\":[],\\\"tempo_lettura_min\\\":5,\\\"status\\\":\\\"DA_APPROVARE\\\"}\"\n    }\n  ]\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n6",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 300],
      "credentials": { "httpHeaderAuth": { "id": "ANTHROPIC", "name": "Anthropic x-api-key" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const txt = $json.content?.[0]?.text || '';\nconst m = txt.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('No JSON');\nconst parsed = JSON.parse(m[0]);\nreturn [{ json: parsed }];"
      },
      "id": "n7",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/blog_articoli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"slug\": {{ JSON.stringify($json.slug) }}, \"meta_title\": {{ JSON.stringify($json.meta_title) }}, \"meta_description\": {{ JSON.stringify($json.meta_description) }}, \"h1\": {{ JSON.stringify($json.h1) }}, \"intro\": {{ JSON.stringify($json.intro) }}, \"sezioni\": {{ JSON.stringify($json.sezioni) }}, \"faq\": {{ JSON.stringify($json.faq) }}, \"cta_finale\": {{ JSON.stringify($json.cta_finale) }}, \"keywords_target\": {{ JSON.stringify($json.keywords_target) }}, \"prodotti_linkati\": {{ JSON.stringify($json.prodotti_linkati) }}, \"tempo_lettura_min\": {{ JSON.stringify($json.tempo_lettura_min) }}, \"status\": {{ JSON.stringify($json.status) }} }",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n8",
      "name": "Insert Blog Articolo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Manual": { "main": [[{ "node": "Extract Topic", "type": "main", "index": 0 }]] },
    "Extract Topic": { "main": [[{ "node": "Read BRAND", "type": "main", "index": 0 }]] },
    "Read BRAND": { "main": [[{ "node": "Read PRODOTTI", "type": "main", "index": 0 }]] },
    "Read PRODOTTI": { "main": [[{ "node": "Prep Context", "type": "main", "index": 0 }]] },
    "Prep Context": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]] },
    "Parse JSON": { "main": [[{ "node": "Insert Blog Articolo", "type": "main", "index": 0 }]] }
  },
  "settings": { "timezone": "Europe/Rome", "executionOrder": "v1", "errorWorkflow": "SOCIAL_H_ERROR_HANDLER" }
}
