n8n_workflows/SOCIAL_K_PIANO_MENSILE.json
{
  "name": "SOCIAL_K_PIANO_MENSILE",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 1 * *" }] } },
      "id": "n1",
      "name": "Schedule Monthly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [120, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-K",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "n2",
      "name": "Webhook Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 400],
      "webhookId": "workflow-K"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/brand?select=*&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n3",
      "name": "Read BRAND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/prodotti?select=*&prodotto_attivo=eq.SI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n4",
      "name": "Read PRODOTTI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/promo?select=*&promo_attiva=eq.SI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n5",
      "name": "Read PROMO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const brand = ($('Read BRAND').first().json[0]) || {};\nconst products = $('Read PRODOTTI').first().json || [];\nconst promos = $('Read PROMO').first().json || [];\nreturn [{ json: { brand, products, promos } }];"
      },
      "id": "n6",
      "name": "Prep Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Agisci come Social Media Manager senior per brand abbigliamento e-commerce. Crea piano editoriale MENSILE (30 giorni) per Instagram, Facebook, TikTok, Pinterest, YouTube Shorts. Genera 25-35 contenuti che alternino ispirazione outfit, vendita, educazione, community, lifestyle, trending.\\n\\nBRAND:\\n\" + JSON.stringify($json.brand) + \"\\n\\nPRODOTTI:\\n\" + JSON.stringify($json.products) + \"\\n\\nPROMO ATTIVE:\\n\" + JSON.stringify($json.promos) + \"\\n\\nDistribuzione: 4-5 post Instagram/sett, 2-3 carousel/mese, 4-6 reel/mese, 2-3 post Facebook/sett, 5-8 pin Pinterest, 2-4 YouTube Shorts/mese. Alterna mattina (9-11) e sera (18-21). Lunedi/giovedi=inspiration, venerdi=vendita/promo, weekend=community/lifestyle. Non concentrare prodotti in pochi giorni. Se promo attiva, includi 2-3 contenuti promo. Non inventare prezzi/taglie. Tono moderno fashion coerente con brand.\\n\\nOutput SOLO JSON array valido:\\n[{\\\"data_pubblicazione\\\":\\\"YYYY-MM-DD\\\",\\\"ora_pubblicazione\\\":\\\"HH:MM\\\",\\\"canale\\\":\\\"instagram|facebook|tiktok|pinterest|youtube_shorts\\\",\\\"formato\\\":\\\"post|carousel|reel|story|pin|short|video\\\",\\\"obiettivo\\\":\\\"vendita|awareness|community|educazione|ispirazione|trending\\\",\\\"settimana\\\":1,\\\"product_id\\\":\\\"\\\",\\\"nome_prodotto\\\":\\\"\\\",\\\"tema\\\":\\\"\\\",\\\"hook\\\":\\\"\\\",\\\"caption\\\":\\\"\\\",\\\"hashtag\\\":\\\"\\\",\\\"cta\\\":\\\"\\\",\\\"promo_id\\\":\\\"\\\"}]\"\n    }\n  ]\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n7",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 300],
      "credentials": { "httpHeaderAuth": { "id": "ANTHROPIC", "name": "Anthropic x-api-key" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const txt = $json.content?.[0]?.text || '';\nconst m = txt.match(/\\[[\\s\\S]*\\]/);\nif (!m) throw new Error('No JSON array');\nconst arr = JSON.parse(m[0]);\nreturn arr.map((r, i) => {\n  const id = `K${Date.now()}_${i}`;\n  return { json: { id_contenuto: id, ...r, status: 'BOZZA' } };\n});"
      },
      "id": "n8",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calendario",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"id_contenuto\": \"{{ $json.id_contenuto }}\", \"data_pubblicazione\": \"{{ $json.data_pubblicazione }}\", \"ora_pubblicazione\": \"{{ $json.ora_pubblicazione }}\", \"canale\": \"{{ $json.canale }}\", \"formato\": \"{{ $json.formato }}\", \"obiettivo\": \"{{ $json.obiettivo }}\", \"product_id\": \"{{ $json.product_id }}\", \"nome_prodotto\": \"{{ $json.nome_prodotto }}\", \"tema\": \"{{ $json.tema }}\", \"hook\": \"{{ $json.hook }}\", \"caption\": \"{{ $json.caption }}\", \"hashtag\": \"{{ $json.hashtag }}\", \"cta\": \"{{ $json.cta }}\", \"promo_id\": \"{{ $json.promo_id }}\", \"status\": \"BOZZA\" }",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "n9",
      "name": "Insert Calendario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300],
      "credentials": { "httpHeaderAuth": { "id": "SUPABASE", "name": "Supabase API" } },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Monthly": { "main": [[{ "node": "Read BRAND", "type": "main", "index": 0 }]] },
    "Webhook Manual": { "main": [[{ "node": "Read BRAND", "type": "main", "index": 0 }]] },
    "Read BRAND": { "main": [[{ "node": "Read PRODOTTI", "type": "main", "index": 0 }]] },
    "Read PRODOTTI": { "main": [[{ "node": "Read PROMO", "type": "main", "index": 0 }]] },
    "Read PROMO": { "main": [[{ "node": "Prep Context", "type": "main", "index": 0 }]] },
    "Prep Context": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]] },
    "Parse JSON": { "main": [[{ "node": "Insert Calendario", "type": "main", "index": 0 }]] }
  },
  "settings": { "timezone": "Europe/Rome", "executionOrder": "v1", "errorWorkflow": "SOCIAL_H_ERROR_HANDLER" }
}
